.header {
  background-image: url("https://images.unsplash.com/photo-1445620466293-d6316372ab59?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bccb92db735f108588edea0330bb2aca");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: 100vw auto;
  position: relative;
  top: -64px;
  z-index: -1;
}

nav {
  background-color: transparent;
  border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
  box-shadow: none;
  /*position: fixed;*/
}

body {
  background-color: #f2f2f2;
}

.title {
  width: 100vw;
}

.sub {
  font: 'Source Code Pro', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
}

.nam {
  font: 'Monserrat', sans-serif;
  color: white;
  font-size: 100px;
}

.about {
  z-index: -1;
}

#about h1 {
  font: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
}

#about {
  padding-top: 100px;
  padding-bottom: 50px;
}

.abt {
  background-color: #f2f2f2;
}

.parallax-container {
  height: 250px;
}

.parallax-overlay {
  z-index: 1;
  position: relative;
  top: -200px;
  margin-bottom: -167px;
}

.parallax-overlay h1 {
  color: white;
  font: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
}

.skills-descriptions {
  background: #262626; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#262626, #0e4369); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#262626, #0e4369); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#262626, #0e4369); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#262626, #0e4369); /* Standard syntax */
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.skills-descriptions h1 {
  color: white;
  font: 'Lato', sans-serif;
  font-weight: 100;
}

.skills-descriptions h5 {
  color: white;
  font: 'Lato', sans-serif;
  font-weight: 100;
}

.web h1 {
  color: white;
  font: 'Lato', sans-serif;
  font-weight: 100;
  opacity: 0;
}

.web img {
  opacity: 0;
}

.coding ul {
  margin: auto;
}

#web-img {
  margin-top: 50px;
}

#game-img {
  margin-top: 50px;
}

#app-img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.gdesign h1 {
  opacity: 0;
}

.gdesign img {
  opacity: 0;
}

.coding h1 {
  opacity: 0;
}

.coding img {
  opacity: 0;
}

.experience h1 {
  font: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
}

.experience {
  padding-top: 50px;
}

#webdev li{
  opacity: 0;
}

#gamedev li{
  opacity: 0;
}

#appdev li{
  opacity: 0;
}

.web h5 {
  color: white;
  font: 'Lato', sans-serif;
  font-weight: 100;
}

.icon {
  width: 40px;
  height: 40px;
  display: inline;
}

.description {
  display: inline-block;
  max-width: 500px;
}


.visual {
  max-width: 600px;
}

.exp-point {
  padding: 0px;
}

.info li{
  list-style-type: disc;
}

.projects {
  padding-top: 50px;
}

.projects h1 {
  font: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
  margin-top: 50px;
}

.proj {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-bottom: 40px;
}

.name {
  border: white 1px solid;
  background-color: transparent;
  color: white;
  opacity: 0;
  position: relative;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  font: 'Lato', sans-serif;
  font-weight: 100;
  min-width: 100px;
}

#chrome {
  background-image: url("chrome.jpg");
  background-position: center;
  background-size: auto 200px;
}

#chem {
  background-image: url("chem.jpg");
  background-position: center;
  background-size: auto 200px;
}

#cap {
  background-image: url("capAm.jpg");
  background-position: center;
  background-size: auto 200px;
}

#skies {
  background-image: url("skies.jpg");
  background-position: left;
  background-size: auto 200px;
}

#motion {
  background-image: url("0001.png");
  background-position: center;
  background-size: auto 200px;
}

#dico {
  background-image: url("Dico.png");
  background-position: center;
  background-size: auto 200px;
}

#sum {
  background-image: url("succinct.jpg");
  background-position: center;
  background-size: 610px auto;
}

#mandelbrot {
  background-image: url("Mandelbrot.png");
  background-position: center;
  background-size: auto 200px;
}

.contact {
  background-image: url("sea2.jpg");
  background-position: center;
  background-size: 100vw auto;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.panel {
  max-width: 300px;
  background-color: white;
  border-radius: 3px;
  margin: auto;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: list-item;
  list-style-type: none;
  padding: 10px;
}

#email {
  background-color: #99d24e;
  color: white;
}
